
$primary-bg-color: #315af2;
$primary-bg-color-hover: #6483f5;
$primary-bg-color-disabled: #acbdfa;

$primary-color: #fff;
$primary-color-hover: $primary-color;
$primary-color-disabled: #ced8fc;

$grey-color: #CDCDCD;
$pink-color: #E9399C;