@import url(fonts/CirceRounded/stylesheet.css);
@import url(fonts/MuseoCyrl/museocyrl.css);
.brand-logo {
  height: 100%;
  width: 170px;
  margin: 0 15px 0;
  display: flex;
  justify-content: center; }
  .brand-logo img {
    width: 100%;
    height: auto; }

.user-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 15px 0;
  width: 120px; }
  .user-panel .mail, .user-panel .logout, .user-panel .profile {
    display: flex;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px; }
  .user-panel .mail {
    background-image: url("images/ic-email.svg");
    margin-bottom: 3px; }
  .user-panel .profile {
    background-image: url("images/ic-profile.svg");
    width: 48px;
    height: 48px; }
  .user-panel .logout {
    margin-top: 3px;
    background-image: url("images/ic-logout.svg"); }

nav {
  background-color: white; }
  nav .nav-wrapper {
    color: black; }
    nav .nav-wrapper a {
      color: black; }
      nav .nav-wrapper a:hover {
        color: #494949;
        background-color: rgba(0, 0, 0, 0.1); }

.navbar-fixed + * {
  margin-top: 30px; }

* {
  font-family: "Circe Rounded"; }

.card-title, h1, h2, h3, h4, h5, h6, .btn-large {
  font-family: Museo Cyrl; }

a {
  color: #315af2; }
  a:hover {
    color: #6483f5; }
  a:disabled {
    color: #acbdfa; }

h1, h2, h3, h4, h5, h6 {
  line-height: 116%;
  display: flex;
  align-items: center;
  letter-spacing: -0.416667px;
  color: #315af2; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

.text-muted {
  color: #CDCDCD; }

.piblished-date {
  font-size: 12px; }

.main-post-text {
  padding: 15px 0 30px; }

.btn-large {
  min-width: 128px;
  height: 43px;
  font-size: 36px;
  line-height: 43px;
  text-align: center; }

.btn-primary {
  background-color: #315af2;
  color: #fff; }
  .btn-primary:hover {
    background-color: #6483f5;
    color: #fff; }
  .btn-primary:disabled {
    background-color: #acbdfa;
    color: #ced8fc; }

.card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.416667px;
  color: #315af2; }

.image-bg {
  background-size: 45% auto;
  background-repeat: no-repeat; }
  .image-bg-right {
    background-position: 100% 50%; }

.absolute {
  position: absolute; }

.blog-labels {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.416667px; }
  .blog-labels > * {
    margin-right: 5px; }
  .blog-labels .new {
    display: inline-block;
    color: #E9399C; }
    .blog-labels .new:before {
      content: 'NEW'; }
  .blog-labels .comments, .blog-labels .likes, .blog-labels .views {
    color: #CDCDCD;
    display: inline-block; }
    .blog-labels .comments:before, .blog-labels .likes:before, .blog-labels .views:before {
      content: '';
      height: 17px;
      width: 25px;
      position: relative;
      top: 3px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block; }
  .blog-labels .comments:before {
    background-image: url("images/ic-comment.svg"); }
  .blog-labels .likes:before {
    background-image: url("images/ic-like.svg"); }
  .blog-labels .views:before {
    background-image: url("images/ic-view.svg"); }

/*# sourceMappingURL=main.css.map */
